 .booking-section {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80px;
            padding: 60px;
            overflow: hidden;
        }



        .booking-form {
            background: #fff;
            border-radius: 12px;
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
            padding: 40px;
            width: 75%;
        }


        .booking-form label {
            display: block;
            margin-bottom: 6px;
            font-weight: bold;
            color: #34495e;
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .booking-form input, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #dcdde1;
            border-radius: 12px;
            font-size: 15px;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }


        .booking-form button {
            width: 100%;
            padding: 12px;
            background-color: #2980b9;
            color: #fff;
            border-radius: 12px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

