.card-container {
      display: flex; /* to set the cards in a row pattern */
      flex-direction: row; /* arrange horizontally */
      flex-wrap: nowrap; /* prevent cards from wrapping to new lines */
      gap: 20px; /* space between each card */
      justify-content: center; /* to center the cards in the space */
    }

    .card {   /* card styling */
      background: white;
      border-radius: 8px;
      width: 250px;
      flex-shrink: 0; /* prevent cards from shrinking */
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      text-align: center;
      overflow: hidden; /* delete everything overlap outside the card*/
      transition: 0.6s;
    }
    .card-header {
      background: #d32f2f; /* red header */
      padding: 20px;
      color: white;
    }
    .card-header img {
      display: block;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid white;
    }
    .card-body {
      padding: 15px;
    }
    .card-body h3 {
      margin: 10px 0 5px;
    }
    .card-body p.role {
      color: gray;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .stars {
      color: #fbc02d; 
      font-size: 18px;
    }


    .card:hover {
      scale: 1.05; /* slightly enlarge the card on hover */
      box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* enhance shadow on hover */
    
    }